@model WebShop.Models.ViewModels.Cart.CartVM

<div class="dropdown">
    <a class="dropdown-toggle" href="#" data-toggle="dropdown" aria-expanded="true">
        <i class="fa fa-shopping-cart"></i>
        <span>Your Cart</span>
        <div class="qty">@Model.Quantity</div>
    </a>
    <div class="cart-dropdown">
        @if (ViewBag.CartVMList != null && ViewBag.CartVMList.Count > 0)
        {
            <div class="cart-list">
                @foreach (var product in ViewBag.CartVMList)
                {
                    <div class="product-widget">
                        <div class="product-img">
                            <img src="/Images/Uploads/Products/@product.ProductId/Thumbs/@product.Image">
                        </div>
                        <div class="product-body">
                            <h3 class="product-name"><a href="/shop/product-details/@product.Slug">@product.ProductName</a></h3>
                            <h4 class="product-price"><span class="qty">@product.Quantity x</span>$@product.Price</h4>
                        </div>
                        <a href="javascript:" data-id="@product.ProductId" class="removeproduct delete"><i class="fas fa-times"></i></a>
                    </div>
                }
            </div>
            <div class="cart-summary">
                <small class="qty">@Model.Quantity @(Model.Quantity > 1 ? "products" : "product") selected</small>
                <h5 class="subtotal">SUBTOTAL: $@ViewBag.GrandTotal</h5>
            </div>
            <div class="cart-btns">
                <a href="/cart/index">View Cart</a>
                @if (Request.IsAuthenticated)
                {
                    <a href="#" onclick="location.href='@Url.Action("Checkout", "cart")'">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                }
                else
                {
                    <a class="checkout" href="#" data-dismiss="modal" data-toggle="modal" data-target="#headerModal">Checkout <i class="fa fa-arrow-circle-right"></i></a>
                    @*<a href="#" data-toggle="modal" data-target="#headerModal"><i class="far fa-user"></i>Login</a>*@
                }
            </div>
        }
        else
        {
            <div>
                <h4 class="text-center">Your cart is empty.</h4>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            ///*
            //* Add to cart
            //*/

            //$("a.add-to-cart-btn").click(function (e) {
            //    e.preventDefault();

            //    var productId = $(this).data("id");
            //    var url = "/cart/AddToCartPartial";

            //    $.get(url, { id: productId }, function (data) {
            //        location.reload();
            //    });
            //});

            //////////////////////////////////////////////////////////

            ///*
            //* Remove product from cart
            //*/

            //$("a.removeproduct").click(function (e) {
            //    e.preventDefault();

            //    var $this = $(this);
            //    var productId = $(this).data("id");
            //    var url = "/cart/RemoveProduct";

            //    $.get(url, { productId: productId }, function (data) {
            //        location.reload();
            //    });
            //});

            //////////////////////////////////////////////////////////
        }
    </script>
}