@model WebShop.Models.ViewModels.Account.UserProfileVM

@{
    ViewBag.Title = "Checkout";
    int count = 1;
}

<!-- BREADCRUMB -->
<div id="breadcrumb" class="section">
    <!-- CONTAINER -->
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <div class="col-md-12">
                <h3 class="breadcrumb-header">Checkout</h3>
            </div>
        </div>
        <!-- /ROW -->
    </div>
    <!-- /CONTAINER -->
</div>
<!-- /BREADCRUMB -->
<!-- SECTION -->
<div class="section">
    <!-- CONTAINER -->
    <div class="container">
        @if (ViewBag.Message != null)
        {
            <!-- ROW -->
            <div class="row">
                <i class="fa fa-shopping-cart"></i>
                <h3 class="text-center">Thank you for purchasing</h3>
                <h5 class="alert alert-success text-center">@ViewBag.Message</h5>
                <a href="javascript:history.back()" class="btn back-checkout">Continue Shopping</a>
            </div>
            <!-- /ROW -->
        }
        else
        {
            <!-- ROW -->
            <div class="row">
                <div class="col-md-7">
                    <!-- BILLING DETAILS -->
                    <div class="billing-details">
                        <div class="section-title">
                            <h3 class="title">Billing address</h3>
                        </div>
                        @using (Html.BeginForm())
                        {
                            <div class="form-group">
                                <label class="control-label col-md-2">First name</label>
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "input", disabled = "true" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Last name</label>
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "input", disabled = "true" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">E-mail</label>
                                @Html.EditorFor(model => model.EmailAddress, new { htmlAttributes = new { @class = "input", disabled = "true" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Address</label>
                                @Html.EditorFor(model => model.StreetAddress, new { htmlAttributes = new { @class = "input", disabled = "true" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">City</label>
                                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "input", disabled = "true" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Zip code</label>
                                @Html.EditorFor(model => model.ZipCode, new { htmlAttributes = new { @class = "input", disabled = "true" } })
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-2">Contact</label>
                                @Html.EditorFor(model => model.Contact, new { htmlAttributes = new { @class = "input", disabled = "true" } })
                            </div>
                        }
                    </div>
                    <div class="form-group">
                        <a class="edit btn btn-default" href="/account/user-profile">
                            Edit profile
                        </a>
                    </div>
                    <!-- /BILLING DETAILS-->
                </div>

                <!-- ORDER DETAILS-->
                <div class="col-md-5 order-details">
                    <div class="section-title text-center">
                        <h3 class="title">Your Order</h3>
                    </div>

                    <div class="order-summary">
                        <div class="order-col">
                            <div><strong>PRODUCT</strong></div>
                            <div><strong>TOTAL</strong></div>
                        </div>
                        @if (ViewBag.CartVMList != null && ViewBag.CartVMList.Count > 0)
                        {
                            <div class="order-products">
                                @foreach (var product in ViewBag.CartVMList)
                                {
                                    <div class="order-col">
                                        <div>@product.ProductName</div>
                                        <div>@product.Quantity x  $@product.Price</div>
                                    </div>
                                }
                            </div>
                        }
                        <div class="order-col">
                            <div>Shipping</div>
                            <div><strong>FREE</strong></div>
                        </div>
                        <div class="order-col">
                            <div><strong>TOTAL</strong></div>
                            <div><strong class="order-total">$@ViewBag.GrandTotal</strong></div>
                        </div>
                    </div>
                    @Html.Action("CheckoutPartial", "Cart");
                </div>
                <!-- /ORDER DETAILS-->
            </div>
            <!-- /ROW -->
        }
        @*<div class="ajaxbg"><span><img src="~/Content/img/ajax-loader.gif" /></span></div>*@

        @Html.Action("PaypalPartial", "Cart")
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

@section Scripts{
    <script>

        $(function () {

            /*
            * Place order
            */

            $("a.placeorder").click(function (e) {
                e.preventDefault();
                var $this = $(this);
                var url = "/cart/PlaceOrder";

                if (document.getElementById('payment-3').checked) {
                    $(".ajaxbg").show();
                    $.post(url, {}, function (data) {
                        $(".ajaxbg span").text("Thank you. You will now be redirected to paypal.");
                        setTimeout(function () {
                            $('form input[name="submit"]').click();
                        }, 2000);
                    });
                }
                if (document.getElementById('payment-2').checked) {
                    $.post(url, {}, function (data) {
                        setTimeout(function () {
                        }, 2000);
                    });
                }
            });

            //////////////////////////////////////////////////////////////

        });
    </script>
}