@model IEnumerable<WebShop.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>
@using WebShop.Enums;
@{
    ViewBag.Title = "Orders";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Orders</h1>
<br />

@if (!Model.Any())
{
    <h3 class="text-center text-danger">There are no orders.</h3>
}
else
{
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order number</th>
                            <th>Username</th>
                            <th>Order details</th>
                            <th>Date created</th>
                            <th>Total</th>
                            <th>Payment method</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order number</th>
                            <th>Username</th>
                            <th>Order details</th>
                            <th>Date created</th>
                            <th>Total</th>
                            <th>Payment method</th>
                            <th>Status</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderNumber)
                                </td>
                                <td>
                                    <a href="/admin/shop/user-details/@item.Username">
                                        @Html.DisplayFor(modelItem => item.Username)
                                    </a>
                                </td>
                                <td>
                                    @foreach (var item2 in item.ProductsAndQty)
                                    {
                                        @item2.Key @:x @item2.Value <br />
                                    }
                                </td>
                                <td style="text-align:center;">
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td style="text-align:right;">
                                    $@Html.DisplayFor(modelItem => item.Total)
                                </td>
                                <td style="text-align:center;">
                                    @Html.DisplayFor(modelItem => item.PaymentMethod)
                                </td>
                                <td style="text-align:center;">
                                    @Html.EnumDropDownListFor(m => item.Status, new { id = item.OrderNumber.ToString(), @class = "input-select" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>
        $(function () {
            /*
             * Change order status
             */
            $(".input-select").change(function (event) {

                var id = parseInt(this.id);
                var status = parseInt($("#" + id).val());
                var url = "/Admin/Shop/ChangeOrderStatus";

                $.post(url, { id: id, status: status }, function (data) {
                });
            });
            /////////////////////////////////////////////////////////////
        });
    </script>
}