@model IEnumerable<WebShop.Areas.Admin.Models.ViewModels.Shop.OrdersForAdminVM>

@{
    ViewBag.Title = "Orders";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Orders</h1>

<br />


@if (!Model.Any())
{
    <h3 class="text-center text-danger">There are no orders.</h3>
}
else
{
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>Order number</th>
                            <th>Username</th>
                            <th>Order details</th>
                            <th>Date created</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Order number</th>
                            <th>Username</th>
                            <th>Order details</th>
                            <th>Date created</th>
                            <th>Total</th>
                        </tr>
                    </tfoot>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.OrderNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Username)
                                </td>
                                <td>
                                    @foreach (var item2 in item.ProductsAndQty)
                                    {
                                        @item2.Key @:x @item2.Value <br />
                                    }
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.CreatedAt)
                                </td>
                                <td>
                                    $@Html.DisplayFor(modelItem => item.Total)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}