@model IEnumerable<WebShop.Models.ViewModels.Shop.ProductVM>

@{
    ViewBag.Title = "Products";
}

@using PagedList.Mvc;
@using PagedList;

<h2>Products</h2>

<div class="store-sort">
    @using (Html.BeginForm("Products", "Shop", FormMethod.Get, new { style = "display: inline;" }))
    {
        <label>
            <input id="hidPageSize" name="pageSize" type="hidden" />
            Categories:
            @Html.DropDownList("categoryId", new SelectList(ViewBag.Categories, "Value", "Text"), "All", new { id = "categoryIdList" })
        </label>
    }
    @using (Html.BeginForm("Products", "Shop", FormMethod.Get, new { style = "display: inline;" }))
    {
        <label>
            <input id="hidcategoryId" name="categoryId" type="hidden" />
            Show:
            @Html.DropDownList("pageSize", new SelectList(new Dictionary<string, int> { { "3", 3 }, { "25", 25 }, { "50", 50 } }, "Key", "Value"), new { id = "pageSizeList" })
        </label>
    }
</div>

<br /><br />

<p>
    @Html.ActionLink("Add new product", "AddProduct")
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Description
        </th>
        <th>
            Price
        </th>
        <th>
            ImageName
        </th>
        <th></th>
    </tr>

    @foreach (var product in ViewBag.OnePageOfProducts)
    {
        <tr>
            <td>
                @product.Name
            </td>
            <td>
                @product.Description
            </td>
            <td>
                $@product.Price
            </td>
            <td>
                <a href="/Admin/Shop/EditProduct/@product.Id">
                    <img src="/Images/Uploads/Products/@product.Id/Thumbs/@product.ImageName" style="max-width:50px; max-height:50px;" />
                </a>
            </td>
            <td>
                @Html.ActionLink("Edit", "EditProduct", new { id = product.Id }) |
                @Html.ActionLink("Delete", "DeleteProduct", new { id = product.Id }, new { @class = "delete" })
            </td>
        </tr>
    }

</table>

@Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Products", new { page, pageSize = ViewBag.SelectedPageSize, categoryId = ViewBag.SelectedCat }),
    new PagedListRenderOptions
    {
        Display = PagedListDisplayMode.IfNeeded,
        DisplayLinkToNextPage = PagedListDisplayMode.Never,
        DisplayLinkToPreviousPage = PagedListDisplayMode.Never
    })

@*//new PagedListRenderOptions
    //{
    //    DisplayLinkToFirstPage = PagedListDisplayMode.IfNeeded,
    //    DisplayLinkToLastPage = PagedListDisplayMode.IfNeeded,
    //    DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
    //    DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
    //    DisplayLinkToIndividualPages = true,
    //    DisplayPageCountAndCurrentLocation = false,
    //    MaximumPageNumbersToDisplay = 10,
    //    DisplayEllipsesWhenNotShowingAllPageNumbers = true,
    //    EllipsesFormat = "&#8230;",
    //    LinkToFirstPageFormat = "««",
    //    LinkToPreviousPageFormat = "«",
    //    LinkToIndividualPageFormat = "{0}",
    //    LinkToNextPageFormat = "»",
    //    LinkToLastPageFormat = "»»",
    //    PageCountAndCurrentLocationFormat = "Page {0} of {1}.",
    //    ItemSliceAndTotalFormat = "Showing items {0} through {1} of {2}.",
    //    FunctionToDisplayEachPageNumber = null,
    //    ClassToApplyToFirstListItemInPager = null,
    //    ClassToApplyToLastListItemInPager = null,
    //    ContainerDivClasses = new[] { "pagination-container" },
    //    UlElementClasses = new[] { "pagination" },
    //    LiElementClasses = Enumerable.Empty<string>
        ()
        //})*@

@section Scripts{
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <script>

        $(function () {
            /*
             * Select products from specified category
             */

            $("#categoryIdList").change(function (event) {
                $("#hidPageSize").val($("#pageSizeList").val());
                var form = $(event.target).parents("form");
                form.submit();
            });


            /////////////////////////////////////////////////////////////

            /*
             * Select page size
             */

            $("#pageSizeList").change(function (event) {
                $("#hidcategoryId").val($("#categoryIdList").val());
                var form = $(event.target).parents("form");
                form.submit();
            });


            /////////////////////////////////////////////////////////////

            /*
             * Confirm product deletion
             */
            $("a.delete").click(function () {
                if (!confirm("Confirm product deletion")) return false;
            });

            /////////////////////////////////////////////////////////////

        });
    </script>
}
