<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebShop</title>
    <!-- GOOGLE-FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>
<body>

    @Html.Action("LoginPartial", "Account")

    <!-- modal onClose padding right fix -->
    <style>
        body {
            padding-right: 0px !important;
            overflow: auto !important;
        }
    </style>
    <!-- START-HEADER -->
    <header id="startHeader">
        <!-- START-TOP-HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                    <li><a href="#"><i class="far fa-envelope"></i> email@email.com</a></li>
                    <li><a href="#"><i class="fas fa-map-marker-alt"></i> 1734 Stonecoal Road</a></li>
                </ul>
                <ul class="header-links pull-right">
                    @*<li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                        <li><a href="#"><i class="fa fa-user-o"></i> My Account</a></li>*@
                    @if (Request.IsAuthenticated)
                    {
                        <li><a href="/account/logout"><i class="fas fa-sign-out-alt"></i>Logout</a></li>
                    }
                    else
                    {
                        <li><a href="#" data-toggle="modal" data-target="#headerModal"><i class="far fa-user"></i>Login</a></li>
                        <li><a href="/account/create-account"><i class="fas fa-sign-in-alt"></i>Register</a></li>
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        if (ViewBag.Title == "User Profile" || ViewBag.Title == "Orders")
                        {
                            <li class="active">@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                        }
                        else
                        {
                            <li>@Html.Action("UserNavPartial", "Account", new { area = "" })</li>
                        }
                    }

                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li><i class="fas fa-chart-line"></i>@Html.ActionLink("Admin Area", "Index", "Dashboard", new { area = "Admin" }, null) </li>
                    }
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="~/Content/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <input class="input" placeholder="Search for products">
                                <button class="search-btn">Search</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="#">
                                    <i class="fas fa-heart"></i>
                                    <span>Your Wishlist</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            @if (ViewBag.Title != "Cart Details")
                            {
                                @Html.Action("CartPartial", "Cart")
                            }
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    @if (ViewBag.Title == "Home")
                    {
                        <li class="active"><a href="/">Home</a></li>
                    }
                    else
                    {
                        <li><a href="/">Home</a></li>
                    }
                    @*@Html.Action("PagesMenuPartial", "Pages")*@
                    @Html.Action("CategoryMenuPartial", "Shop")
                    @*<li class="nav-item dropdown-categories mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" onclick="return false;" data-toggle="dropdown-navbar" aria-haspopup="true" aria-expanded="false">
                                Categories <i class="fa fa-caret-down" style="margin-left:5px;" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                @Html.Action("CategoryMenuPartial", "Shop")
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>*@
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->


    <div class="container body-content">
        <div class="row">
            @*<div class="ajaxbg"><span><img src="~/Content/img/ajax-loader.gif" /></span></div>*@
            @if (ViewBag.Title == "User Profile")
            {
                <div class="col-xs-12 col-md-2">
                    <ul>
                        <li><a href="/account/orders">My Orders</a></li>
                    </ul>
                </div>
            }

            @if (ViewBag.Title == "Orders")
            {
                <div class="col-xs-12 col-md-2">
                    <ul>
                        <li><a href="/account/user-profile">My Profile</a></li>
                    </ul>
                </div>
            }
        </div>
    </div>

    <!-- BODY -->
    @RenderBody()
    <!-- /BODY -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hot deals</a></li>
                                <li><a href="#">Laptops</a></li>
                                <li><a href="#">Smartphones</a></li>
                                <li><a href="#">Cameras</a></li>
                                <li><a href="#">Accessories</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Information</h3>
                            <ul class="footer-links">
                                <li><a href="#">About Us</a></li>
                                <li><a href="#">Contact Us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Orders and Returns</a></li>
                                <li><a href="#">Terms & Conditions</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#">My Account</a></li>
                                <li><a href="#">View Cart</a></li>
                                <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="copyright">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

    <!-- login form validation -->
    <script>
        $(document).ready(function () {
            $("#headerModal").on("submit", "#loginForm", function (e) {
                e.preventDefault();

                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: form.serialize(),
                    success: function (partialResult) {
                        if (partialResult === "error") {
                            $("#login-error").show();
                        }
                        else if (partialResult === "success") {
                            $("#headerModal").modal("hide");
                            setTimeout(function () { window.location.href = "/Shop/Index"; }, 35);
                        }
                    }
                });
            });
        });
    </script>
    <!-- //login form validation -->
    <!-- categories dropdown -->
    <script>
        /*
            * Add to cart
            */

        $("a.add-to-cart-btn").click(function (e) {
            e.preventDefault();

            var productId = $(this).data("id");
            var url = "/cart/AddToCartPartial";

            $.get(url, { id: productId }, function (data) {
                location.reload();
            });
        });

        ////////////////////////////////////////////////////////

        /*
        * Remove product from cart
        */

        $("a.removeproduct").click(function (e) {
            e.preventDefault();

            var $this = $(this);
            var productId = $(this).data("id");
            var url = "/cart/RemoveProduct";

            $.get(url, { productId: productId }, function (data) {
                location.reload();
            });
        });

        /////////////////////////////////////////////////////////////

        //$(".dropdown-categories").hover(
        //    function () {
        //        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
        //        $(this).toggleClass('open');
        //    },
        //    function () {
        //        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
        //        $(this).toggleClass('open');
        //    }
        //);
    </script>
    <!-- //categories dropdown -->
    <!-- sticky header -->
    <script>
        $(window).scroll(function () {
            if ($(this).scrollTop() > 250) {
                document.getElementById("startHeader").style.top = "-50px";
            }
            else {
                document.getElementById("startHeader").style.top = "0";
            }
        });
    </script>
    <!-- //sticky header -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <a href="#" id="toTop" style="display:inline;">
        <span id="toTopHover" style="opacity:0;"></span>
    </a>
</body>
</html>
