<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - WebShop</title>
    <!-- GOOGLE-FONT -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>
<body>

    @if (ViewBag.LoginPartial != "remove")
    {
        @Html.Action("LoginPartial", "Account")
    }

    <!-- modal onClose padding right fix -->
    <style>
        body {
            padding-right: 0px !important;
            overflow: auto !important;
        }
    </style>
    <!-- START-HEADER -->
    <header id="startHeader">
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="/" class="logo">
                                <img src="~/Content/img/logo.png" alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-5">
                        <div class="header-search">
                            @using (Html.BeginForm("Search", "Shop", FormMethod.Get))
                            {
                                <input type="text" class="input" name="searchString" placeholder="Search for products">
                                <button type="submit" class="search-btn">Search</button>
                            }
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-4 clearfix">
                        <div class="header-ctn">
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                            <!-- Cart -->
                            @if (ViewBag.Title != "Cart Details" && !User.IsInRole("Admin") && ViewBag.Title != "Checkout")
                            {
                                @Html.Action("CartPartial", "Cart")
                            }
                            <!-- /Cart -->
                            <div>
                                @if (Request.IsAuthenticated && User.IsInRole("User"))
                                {
                                    @Html.Action("UserNavPartial", "Account")
                                }

                                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                                {
                                    <a href="#" onclick="location.href='@Url.Action("Index", "Dashboard",  new { area = "Admin" }, null)'">
                                        <i class="fas fa-chart-line"></i>
                                        <span>Admin area</span>
                                    </a>
                                }
                            </div>
                            @if (Request.IsAuthenticated)
                            {
                                <div>
                                    <a href="#" onclick="location.href='@Url.Action("Logout", "Account")'"><i class="fas fa-sign-out-alt"></i>Logout</a>
                                </div>
                            }
                            else
                            {
                                <div>
                                    <a href="#" data-toggle="modal" data-target="#headerModal">
                                        <i class="far fa-user"></i>
                                        <span>Login</span>
                                    </a>
                                </div>
                                <div>
                                    <a href="/account/create-account">
                                        <i class="fas fa-sign-in-alt"></i>
                                        <span>Register</span>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->

    @if (ViewBag.PageTitle == "Home")
    {
        <!-- SPECIAL DEAL SECTION -->
        <div id="special-deal" class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12">
                        <div class="special-deal">
                            <h1 class="text-uppercase">special deal this week</h1>
                            <p class="text-uppercase">New Products Up to 50% OFF</p>
                            <a class="primary-btn cta-btn" href="/shop/SpecialDeals">Shop now</a>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /SPECIAL DEAL SECTION -->
    }

    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    @if (ViewBag.Title == "Home")
                    {
                        <li class="active"><a href="/">Home</a></li>
                    }
                    else
                    {
                        <li><a href="/">Home</a></li>
                    }
                    @if (ViewBag.Title == "Special Deals")
                    {
                        <li class="active"><a href="/shop/SpecialDeals">Special Deals</a></li>
                    }
                    else
                    {
                        <li><a href="/shop/SpecialDeals">Special Deals</a></li>
                    }
                    @*@Html.Action("PagesMenuPartial", "Pages")*@
                    @Html.Action("CategoryMenuPartial", "Shop")
                    @*<li class="nav-item dropdown-categories mr-lg-2 mb-lg-0 mb-2">
                            <a class="nav-link dropdown-toggle" href="#" onclick="return false;" data-toggle="dropdown-navbar" aria-haspopup="true" aria-expanded="false">
                                Categories <i class="fa fa-caret-down" style="margin-left:5px;" aria-hidden="true"></i>
                            </a>
                            <div class="dropdown-menu">
                                <div class="agile_inner_drop_nav_info p-4">
                                    <div class="row">
                                        <div class="col-sm-6 multi-gd-img">
                                            <ul class="multi-column-dropdown">
                                                @Html.Action("CategoryMenuPartial", "Shop")
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>*@
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- BODY -->
    @RenderBody()
    <!-- /BODY -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>1734 Stonecoal Road</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>email@email.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Categories</h3>
                            <ul class="footer-links">
                                @Html.Action("CategoryMenuPartial", "Shop")
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Service</h3>
                            <ul class="footer-links">
                                <li><a href="#" data-toggle="modal" data-target="#headerModal">Login</a></li>
                                <li><a href="/account/create-account">Register</a></li>
                                @if (Request.IsAuthenticated && User.IsInRole("User"))
                                {
                                    <li><a href="/account/user-profile">My Account</a></li>
                                    <li><a href="/account/orders">Order History</a></li>
                                }
                                else
                                {
                                    <li><a href="#" data-toggle="modal" data-target="#headerModal">My Account</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#headerModal">Order History</a></li>
                                }
                                <li><a href="/cart/index">View Cart</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <span class="copyright">
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)

    <!-- login form validation -->
    <script>
        $(document).ready(function () {
            $("#headerModal").on("submit", "#loginForm", function (e) {
                e.preventDefault();
                var form = $(this);
                $.ajax({
                    url: form.attr("action"),
                    method: form.attr("method"),
                    data: form.serialize(),
                    success: function (partialResult) {
                        if (partialResult === "error") {
                            $("#login-error").show();
                        }
                        else if (partialResult === "success") {
                            $("#headerModal").modal("hide");
                            //setTimeout(function () { window.location.href = "/Shop/Index"; }, 35);
                            setTimeout(function () { location.reload(); }, 35);
                        }
                    }
                });
            });
        });
    </script>
    <!-- //login form validation -->
    <!-- categories dropdown -->
    <script>
        /*
        * Add to cart
        */

        $("a.add-to-cart-btn").click(function (e) {
            e.preventDefault();

            var productId = $(this).data("id");
            var url = "/cart/AddToCartPartial";

            $.get(url, { id: productId }, function (data) {
                location.reload();
            });
        });

        ////////////////////////////////////////////////////////

        /*
        * Remove product from cart
        */

        $("a.removeproduct").click(function (e) {
            e.preventDefault();

            var $this = $(this);
            var productId = $(this).data("id");
            var url = "/cart/RemoveProduct";

            $.get(url, { productId: productId }, function (data) {
                location.reload();
            });
        });

        /////////////////////////////////////////////////////////////

        /*
        * Checkout as a guest
        */

        $("a.checkout").click(function (e) {
            e.preventDefault();
            document.getElementById("checkout-as-guest").classList.remove("hidden");
        });

        $("#headerModal").on('hidden.bs.modal', function () {
            document.getElementById("checkout-as-guest").classList.add("hidden");
        })

        //////////////////////////////////////////////////////////////

        //$(".dropdown-categories").hover(
        //    function () {
        //        $('.dropdown-menu', this).stop(true, true).slideDown("fast");
        //        $(this).toggleClass('open');
        //    },
        //    function () {
        //        $('.dropdown-menu', this).stop(true, true).slideUp("fast");
        //        $(this).toggleClass('open');
        //    }
        //);
    </script>
    <!-- //categories dropdown -->
    <!-- smooth-scrolling-of-move-up -->
    <script>
        $(document).ready(function () {
            $().UItoTop({
                easingType: 'easeOutQuart'
            });
        });
    </script>
    <!-- //smooth-scrolling-of-move-up -->
    <a href="#" id="toTop" style="display:inline;">
        <span id="toTopHover" style="opacity:0;"></span>
    </a>
</body>
</html>
