@model IEnumerable<WebShop.Models.ViewModels.Account.OrdersForUserVM>

@{
    ViewBag.Title = "Orders";
}

<!-- SECTION -->
<div class="section min-height">
    <!-- CONTAINER -->
    <div class="container">
        <!-- ROW -->
        <div class="row">
            <!-- ASIDE -->
            <div id="aside" class="col-md-2 col-xs-3">
                <div class="aside">
                    <h3 class="aside-title text-uppercase">My Profile</h3>
                    <ul class="user-nav nav navbar-nav">
                        <li><a href="/account/user-profile">Profile details</a></li>
                        <li class="active"><a href="/account/Orders">Orders</a>
                    </ul>
                </div>
            </div>
            <!-- /ASIDE -->
            <div id="store" class="col-md-10 col-xs-9">
                <h3 class="page-header text-uppercase">@ViewBag.Title</h3>
                @if (!Model.Any())
                {
                    <h3 class="text-center text-danger">You have no orders.</h3>
                }
                else
                {
                    <table class="table">
                        <tr>
                            <th>
                                Order details
                            </th>
                            <th>
                                Date created
                            </th>
                            <th>
                                Total
                            </th>
                            <th>
                                Status
                            </th>
                            <th>
                                Payment Method
                            </th>
                        </tr>

                        @foreach (var order in Model)
                        {
                        <tr>
                            <td>
                                @foreach (var orderDetails in order.ProductsAndQty)
                                {
                                    @orderDetails.Key @:x @orderDetails.Value <br />
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.CreatedAt)
                            </td>
                            <td>
                                $@Html.DisplayFor(modelItem => order.Total)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.Status)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => order.PaymentMethod)
                            </td>
                        </tr>
                        }
                    </table>
                }
            </div>
        </div>
        <!-- /ROW -->
    </div>
    <!-- /CONTAINER -->
</div>
<!-- /SECTION -->
